body {
    display: flex;
    justify-content: center;
    flex-direction: columns;
    align-items: center;
    background-color: #f5f5f5;
    font-family: "Roboto", sans-serif;
  }
  form {
    margin-top: 20px;
    background-color: #fff;
    padding: 40px 60px;
    border-radius: 10px;
    min-width: 300px;
  }
  form h1 {
    color: #eb7371;
    text-align: center;
  }
  form .social-media {
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  form .social-media p {
    padding: 5px;
    width: 20px;
    margin-left: 10px;
    border-radius: 100%;
    border: 1px solid #545454;
    text-align: center;
    cursor: pointer;
    color: #545454;
  }
  form p.choose-email {
    text-align: center;
  }
  form .inputs {
    display: flex;
    flex-direction: column;
  }
  form .inputs input[type="email"],
  input[type="password"] {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    outline: none;
    margin-bottom: 15px;
  }
  form p.inscription {
    font-size: 14px;
    margin-bottom: 20px;
    color: #878787;
  }
  form p.inscription span {
    color: #eb7371;
  }
  form button {
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    color: #fff;
    background-color: #eb7371;
    outline: none;
    cursor: pointer;
  }
  
  